.assessmentAssen .assessmentAssenB {
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลางในแนวนอน */
    font-family: "Inter-Bold", Helvetica;
}

.assessmentAssenB #b1,
.assessmentAssenB #b2,
.assessmentAssenB #b3 {
    border: 20px solid gainsboro;
    border-radius: 20px;
    width: 282px;
    height: 479px;
    margin: 5%;
}
.assessmentAssenB #b1 {
    display: flex;
    flex-direction: column; /* จัดให้อยู่ในแนวตั้ง */
    align-items: flex-end; /* จัดให้อยู่ด้านขวา */
}
#b1 img {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* กำหนดมุมโค้งให้เป็นวงกลม */
    margin-right: auto;
    margin-top: 8%;
    margin-left: 8px;
    margin-bottom: 8px;
}
#b1 p {
    font-size: 100%;
    margin: 16px; /* ให้มีระยะขอบ 16px ทั้งสี่ด้าน */
    line-height: 1.5;

}
#b1 button {
    text-align: center; /* จัดให้อยู่ตรงกลางตามแนวนอน */
    color: #fff;
    font-size: 100%;
    background-color: #0d6efd;
    border-color: #0a57ca00;
    border-radius: 5px;
    padding: 6px 12px;
    margin-right: 16px;
}
#b1 button:hover {
    color: #fff;
    background-color: #0b5ed7;
}
#b1 button:active {
    color: #fff;
    background-color:#0a58ca;
}
#b1 button:disabled {
    color:  #fff;
    background-color:  #0d6efd;
}

/* CSS สำหรับ Popup */
.assessmentAssen #assessmentPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

#assessmentPopup .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 500px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
#assessmentPopup .popup-content-left {
    display: flex;
    flex-direction: column; /* จัดให้อยู่ในแนวตั้ง */
    align-items: center; 
    float: left;
    width: 50%;
    height: 100%;
}
.popup-content-left img {
    padding: 16px;
    width: 80%;
}
#assessmentPopup .popup-content-right {
    display: flex;
    flex-direction: column; /* จัดให้อยู่ในแนวตั้ง */
    align-items: center; 
    float: right;
    width: 50%;
    height: 100%;
}
.popup-content-right p {
    padding: 10px;
}

